@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
:root {
    --dark-bg: #0f0f0f;
    --light-bg: #fdfdfd;

    --dark-ft: #010101;
    --light-ft: #e2e2e2;

}


::selection {
    background-color: rgba(50, 50, 50, 0.5);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
}

.gradient {
    background: hsla(208, 67%, 81%, 1);
    background: linear-gradient(90deg, #5179f2 0%, #5338e5 25%, #7d33de 50%, #ce5dcf 75%, #d2abb0 100%);

    /* background: linear-gradient(190deg, hsla(208, 67%, 81%, 1) 0%, hsla(37, 65%, 85%, 1) 50%, hsla(301, 65%, 83%, 1) 100%);

    background: -moz-linear-gradient(190deg, hsla(208, 67%, 81%, 1) 0%, hsla(37, 65%, 85%, 1) 50%, hsla(301, 65%, 83%, 1) 100%);
    background: -webkit-linear-gradient(190deg, hsla(208, 67%, 81%, 1) 0%, hsla(37, 65%, 85%, 1) 50%, hsla(301, 65%, 83%, 1) 100%); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cursor{
    cursor: pointer;
}

html{
    margin: 0;
    padding: 0;
}

body {
    width: 80%;
    background: var(--dark-bg);
    margin: auto;
    /* background: linear-gradient(270deg, #111111 0%, #1d1d1d 50%, #0f0f0f 100%); */
    font-family: "Inter", sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

header {
    width: 100%;
    height: 100px;
    /* background: white; */
    position: relative;
}

/* header::after {
    content: "";
    position: absolute;
    top: 100%;
    height: 100px;
    width: 100%;
    left: 0;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/23618/rip.svg") bottom;
    background-size: 200%;
} */


.right-nav {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;

}

.left-nav {
    float: left;
    height: 100%;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.link {
    font-size: 16px;
    margin: auto;
    transition: transform 0.75s;
    padding: 12px 32px;
    
    background: #111111;
    color: var(--light-ft);
}

.link:hover {
    transform: translateY(-7.5px);
}

.active{
    font-size: 18px;
    background: #111111;
    border: 1px solid #1d1d1d;
    color: #a8a8a8;
    border-radius: 10px;
}

.link a {
    text-decoration: none;
    font-weight: 900;
}

.link a i {
    display: inline;
    align-items: center;
    justify-content: center;

}

.logo-img{
    height: 100%;
    border-radius: 50%;
    border: 1px solid grey;
}

.menu{
    height: 100%;
    width: 100%;
    visibility: hidden;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: (1, 1fr);
    background: 
    radial-gradient(
     at bottom left, #101011, #0f0f0f
    );

    z-index: 100;
}

.menu .inner{
    height: 50%;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-columns: (1, 1fr);
}

.menu-link{
    color: var(--light-ft);
    background: rgb(20, 20, 20);
    font-size: 20px;
    width: 100px;
    font-weight: 900;
    border-radius: 4px;
    margin: 10px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    transition: border 2s;
}

.menu-link:hover{
    cursor: pointer;
    border: 1px solid #686868;
}

.menu-active{
    background: transparent;
    border: 1px solid #c0c0c0;
    color: #c0c0c0;
    border-radius: 4px;
}

.menu-close{
    position: absolute;
    top: 30px;
    right: 50px;
    color: white;
    cursor: pointer;
    background: #1d1d1d;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: transform 1s, border 1s;
}

.menu-close:hover{
    transform: scale(1.1);
    border: 1px solid #c0c0c0;
}

.menu-open{
    position: absolute;
    top: 30px;
    right: 50px;
    color: white;
    cursor: pointer;
    background: #1d1d1d;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid transparent;
    visibility: hidden;
}

@media screen and (max-width: 1000px) {
    .link{
        visibility: hidden;
    }

    .menu-open{
        visibility: visible;
    }
}
