@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

:root {
    --dark-bg: #0f0f0f;
    --light-bg: #fdfdfd;

    --dark-ft: #010101;
    --light-ft: #e2e2e2;

}

::selection {
    background-color: rgba(50, 50, 50, 0.5);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
}

/*  */
/* REUSABLE STUFF */
/*  */

.gradient {
    background: hsla(208, 67%, 81%, 1);
    background: linear-gradient(190deg, hsla(208, 67%, 81%, 1) 0%, hsla(37, 65%, 85%, 1) 50%, hsla(301, 65%, 83%, 1) 100%);
    background: -moz-linear-gradient(190deg, hsla(208, 67%, 81%, 1) 0%, hsla(37, 65%, 85%, 1) 50%, hsla(301, 65%, 83%, 1) 100%);
    background: -webkit-linear-gradient(190deg, hsla(208, 67%, 81%, 1) 0%, hsla(37, 65%, 85%, 1) 50%, hsla(301, 65%, 83%, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cursor{
    cursor: pointer;
}


/*  */
/* MAIN */
/*  */


html{
    height: 100%;
}

body {
    width: 70vw;
    /* height: 100%; */
    margin: auto;
    background: var(--dark-bg);
    /* background: linear-gradient(270deg, #111111 0%, #1d1d1d 50%, #0f0f0f 100%); */
    font-family: "Inter", sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

header {
    width: 100%;
    height: 100px;
    /* background: white; */
    position: relative;
}

/* header::after {
    content: "";
    position: absolute;
    top: 100%;
    height: 100px;
    width: 100%;
    left: 0;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/23618/rip.svg") bottom;
    background-size: 200%;
} */


.right-nav {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40%;
    padding: 20px;
    box-sizing: border-box;

}

.left-nav {
    float: left;
    height: 100%;
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
}

.link {
    font-size: 24px;
    margin: auto;
    transition: transform 0.75s;
    padding: 12px 32px;
    border-radius: 10px;
    background: #111111;
    border: 1px solid black;
    color: var(--light-ft);
}

.link:hover {
    transform: translateY(-7.5px);
}

.active{
    background: #111111;
    border: 1px solid #1d1d1d;
    color: #a8a8a8;
}

.link a {
    text-decoration: none;
    font-weight: 900;
}

.link a i {
    display: inline;
    align-items: center;
    justify-content: center;

}

.left-nav a img {
    height: 100%;
    border-radius: 50%;
    border: 1px solid grey;
}


.intro-screen {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;

}

.intro-screen .intro-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.left-side {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60%;
    font-size: 30px;
    color: white;
    text-align: left;
    padding: 25px;
    box-sizing: border-box;
}

.intro-text {
    font-size: 40px;
}

.changing-text {
    font-size: 100px;
}


.right-side {
    text-align: center;
    width: 100%;
}

.right-side img {
    border-radius: 50%;
}

.section-2{
    width: 100%;
    height: 40%;
}

.section-2 .box{
    /* height: 300px; */
    padding: 50px;
    /* width: 80%; */
    border-radius: 25px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 2px solid #1d1d1d;
    transition: border 1s;
    /* background: linear-gradient(90deg, hsla(195, 86%, 50%, 1) 0%, hsla(236, 93%, 65%, 1) 100%); */
    /* background: linear-gradient(90deg, hsla(225, 40%, 54%, 1) 0%, hsla(284, 75%, 54%, 1) 100%); */
    /* background: linear-gradient(90deg, hsla(248, 21%, 15%, 1) 0%, hsla(250, 14%, 61%, 1) 100%); */
    background: #111111;
}

.section-2 .box:hover{
    border: 2px solid #707070; 
}

.section-2 .box .info{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    box-sizing: border-box;
}

.section-2 .box .info span{
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    color: var(--light-ft);
}

.section-2 .box .info span text{
    font-weight: 300;
    font-size: 30px;
}


.section-3{
    width: 100%;
    height: 80%;
}

.section-3 .title{
    font-weight: 900;
    font-size: 100px;
    padding: 50px;
}



.question-box{
    /* visibility: hidden; */
    opacity: 1;
    background-color: rgba(20, 20, 20, 0.9);
    
    color: white;
    border-radius: 50px;
    border: 2px solid #1d1d1d;
    transition: border 1s;
    /* opacity: 0; */
    /* transition: visibility 1s linear 1000ms, opacity 1000ms; */
}

.question-box:hover{
    border: 2px solid #707070; 
}

.question-box h1{
    font-size: 40px;
}

.question-box h2{
    font-size: 30px;
    font-weight: 300;
}

.show{
    visibility: visible;
    opacity: 1;
}

.box-grid {
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.box-grid div {
    padding: 50px;
}

.question-logo{
    padding: 50px;
    height: 50px;
    width: 50px;
    border-radius: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(135deg, hsla(248, 21%, 15%, 1) 0%, hsla(250, 14%, 61%, 1) 100%); */
    /* position: relative; */
    font-size: 40px;
    top: -150px;
    left: 50px;
}



@media screen and (max-width: 800px) {
    /* .right-nav{
        display: none;
    } */

    .section-2 .box{
        grid-template-columns: repeat(2, 1fr);
    }

    .box-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}