@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

:root {
    --dark-bg: #0f0f0f;
    --light-bg: #fdfdfd;

    --dark-ft: #010101;
    --light-ft: #e2e2e2;

}



.intro-screen {
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.intro-screen .intro-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.left-side {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60%;
    font-size: 30px;
    color: white;
    text-align: left;
    padding: 25px;
    box-sizing: border-box;
}

.intro-text {
    font-size: 40px;
}

.changing-text {
    font-size: 100px;
}


.right-side {
    text-align: center;
    width: 100%;
}

.right-side img {
    border-radius: 50%;
}

.section-2{
    width: 100%;
    /* height: 100%; */
}

.section-2 .box{
    /* height: 300px; */
    padding: 25px;
    /* width: 80%; */
    border-radius: 25px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 2px solid #1d1d1d;
    transition: border 1s;
    /* background: linear-gradient(90deg, hsla(195, 86%, 50%, 1) 0%, hsla(236, 93%, 65%, 1) 100%); */
    /* background: linear-gradient(90deg, hsla(225, 40%, 54%, 1) 0%, hsla(284, 75%, 54%, 1) 100%); */
    /* background: linear-gradient(90deg, hsla(248, 21%, 15%, 1) 0%, hsla(250, 14%, 61%, 1) 100%); */
    background: #111111;
}

.section-2 .box:hover{
    border: 2px solid #707070; 
}

.section-2 .box .info{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    box-sizing: border-box;
}

.section-2 .box .info span{
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color: var(--light-ft);
}

.section-2 .box .info span text{
    font-weight: 300;
    font-size: 20px;
}


.section-3{
    width: 100%;
    height: 80%;
}

.section-3 .title{
    font-weight: 900;
    font-size: 80px;
    padding: 50px;
}



.question-box{
    /* visibility: hidden; */
    opacity: 1;
    background-color: rgba(20, 20, 20, 0.9);
    
    color: white;
    border-radius: 50px;
    border: 2px solid #1d1d1d;
    transition: border 1s;
    /* opacity: 0; */
    /* transition: visibility 1s linear 1000ms, opacity 1000ms; */
}

.question-box:hover{
    border: 2px solid #707070; 
}

.question-box h1{
    font-size: 30px;
}

.question-box h2{
    font-size: 20px;
    font-weight: 300;
}

.show{
    visibility: visible;
    opacity: 1;
}

.box-grid {
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.box-grid div {
    padding: 50px;
}

.question-logo{
    padding: 50px;
    height: 50px;
    width: 50px;
    border-radius: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(135deg, hsla(248, 21%, 15%, 1) 0%, hsla(250, 14%, 61%, 1) 100%); */
    /* position: relative; */
    font-size: 40px;
    top: -150px;
    left: 50px;
}



@media screen and (max-width: 1000px) {
    .intro-screen{
        grid-template-columns: repeat(1, 1fr);
        }

    .section-2 .box{
        grid-template-columns: repeat(1, 1fr);
    }

    .box-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}


